*{
    margin: 0;
    padding: 0;
}
#upper{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-bottom: 60px;
}
#upper::before{
    /* following four points are compulsary */
    content: ""; 
    position: absolute;
    height: 1100px;    
    width: 100%;       
    background-image: url(images/mountain2.jpg);
    background-size: 100%; 
    filter: brightness(70%);
    background-repeat: no-repeat;
    z-index: -1;
    /* background-size: contain; */  
}
#logo{
    height : 200px;
    width: 200px;
}
ul{
    margin: 25px;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
}
li a{
    text-decoration: none;
    color : white;
    font-family: 'Noto Sans', sans-serif;
}
#wtb{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
h1{
    font-size: 5em;
}
#wtb p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    margin-bottom: 80px;
}
button{
    margin : 7px;
    height: 60px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
}
#btn1>a{
    color:black;
    list-style: none;
    text-decoration: none;
}
#btn2{
    background-color: transparent;
    color : white;
    border : 2px solid white;
}
#intro{
    width: 1200px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding: 40px 80px 40px 80px;
    box-shadow:3px 3px 40px gray;
}
#intro h3{
    font-size: 30px;
    font-family: 'Bree Serif', serif;
    margin: 15px 0 15px 0;
}
#intro p{
    width: 70%;
    justify-content :space-between;
    line-height: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}
#mid{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 1200px;
    margin :auto;
    padding-top: 60px;
    justify-content: space-between;
}

/*  */
#img-1{
    width: 850px;
}
.img-2345{
    width: 100%;
    height: 40%;
}

.dabba{
    width: 850px;
    margin: 0 21px 42px 0;
}
.box2345{
    display: flex;
    justify-content: space-between;
    
}

.dabba2345{
    display: flex;
    flex-direction: column;
    width: 47%;
    /* border : 2px solid greenyellow; */
    height: 546px;
    margin-bottom: 0;
}
.box1, .dabba2345{
    background-color: rgb(249, 246, 246);
}
.same-font{
    font-family: 'Bree Serif', serif;
font-family: 'Source Serif 4', serif;
/* font-size: 25px; */
}
.para{
    line-height: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}
.img-text{
    padding: 30px 40px 30px 20px ;
    /* border: 2px solid yellow; */
}
h4{
    font-size: 25px;
}
h6{
    font-size: 15px;
    padding: 15px 0px 25px 0px;
    font-family: 'Noto Sans', sans-serif;
}
.img-text a{
    font-size: 15px;
    padding: 15px 0px 25px 0px;
    list-style: none;
    text-decoration: none;
    color : rgb(33, 32, 32);
    font-family: 'Noto Sans', sans-serif;
    padding: 30px 0px 0px 0px;
}
#mrf{
    /* border: 2px solid purple; */
    height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 21px 21px;
    width: 300px;
}
#search{
    /* border: 2px solid blue; */
    background-color: rgb(249, 246, 246);
}
#searchbar{
    margin: 21px auto;
    display: flex;
    background-color: white;
    border-radius: 0;
    border-color: rgb(223, 223, 223);
    width: 80%;
    height: 38px;
    padding-left: 10px;
}
.rpc{
    /* border : 2px solid blue; */
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(249, 246, 246);
    box-sizing: border-box;
}
.rpc ul{
    display: flex;
    flex-direction: column;
    /* margin-left: 5px;
    margin-top: 0px; */
    margin: -2px auto 26px 5px;
}
.rpc ul a{
    color : black;
    font-size: 14px;
    line-height: 30px;
}
/* #archives{
    margin : 42px 0 0 42px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(249, 246, 246);
    color : black;
    font-size: 14px;
    line-height: 30px;
} */
#archives{
    margin: 41px 0 0 21px;
}
.rpc h6{
    margin-left: 26px;
    padding-top: 36px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
font-family: 'Source Serif 4', serif;
}




footer{
    background-color: black;
    width: 100%;
    height : 500px;
    display: flex;
    flex-direction: column;
    /* padding: 50px 100px 50px 100px; */
}
/* footer::before{
    background-color: black;
} */
#firstpart{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
    margin-top: 40px;
    margin-bottom: 50px;
}

#l, #c, #rp, #gallery{
    /* border: 2px solid red; */
    width: 250px;
    height: 300px;
}
#l{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    
}
#l img{
    height : 180px;
    width: 180px;
    margin: -20px 0px 0px -32px;
}
#l p{
    line-height: 30xp;
}
#c,#rp,#gallery{
    color :white;
}
#c h6,#rp h6{
    font-family: 'Bree Serif', serif;
font-family: 'Source Serif 4', serif;
font-size: 20px;
margin-left: 25px;
}
#c ul, #rp ul{
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
}
#c ul a, #rp ul a{
    font-size: 15px;
    line-height: 30px;
}
#secondpara{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid yellow; */
}
#p1{
    margin-left: 100px;
    font-size: 13px;
}
#p2{
    margin-right: 100px;
    font-size: 13px;
}
#fimg img{
    height: 60px;
    width: 60px;
    border: 1px solid white;
}
#fimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 25px;
}
#gallery h6{
    font-family: 'Bree Serif', serif;
font-family: 'Playfair Display', serif;
font-size: 20px;
}
.fpara{
    color : white;
    font-family: 'Noto Sans', sans-serif;
    line-height: 30px;
}


